@if ((bool)ViewData["aboutus"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">About us</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}


        <section class="our-speakers speakers-home-two" id="Speakers">
            <div class="bg-img" style="background-image: url(/Content/assets/img/bg-team-home-2.svg);"></div>
            <span class="title-position title-position-left">Partners</span>
            <span class="title-position title-position-right">Experts</span>
            <div class="container">
                <h2 class="title-line">
                    About PACE and PAET
                </h2>
                <p style="margin:10px 0 10px 0">P.A. College of Engineering (PACE) was established in the year 2000 under the aegis of PAET, with an aim to provide a career-oriented professional education and to produce technically competent engineers with moral and ethical values. The institution is dedicated to promote an effective learning environment that encourages excellence and diversity in thoughts and endeavor. PACE is affiliated to the Visvesvaraya Technological University (VTU), Belgaum and is approved by the All-India Council for Technical Education (AICTE), New Delhi, recognized by the Government of Karnataka and is certified to ISO 9001-2008.</p>
               
                <p style="margin:10px 0 20px 0">
                    P.A. College of Engineering which instituted with a total intake of 240 students- 60 students each in four disciplines of engineering, has now grown in leaps and bounds. Over the 15 years, new undergraduate programmes, postgraduate programmes in various branches of engineering, MBA courses and Research programmes were added to meet the growing demand in the industry and the intake has been increased to 450 in Engineering courses. Teaching and research facilities at PACE are already among the best and continue to improve. Well qualified faculty with international reputation, a well-developed campus and outstanding infrastructure makes PACE much sought after for technical and management education. The institution regularly invites experts from industry and academia for interaction with students. While helping the students to reach their full potential. PACE also offers innumerable opportunities for extracurricular activities that match nearly every interest. PACE is located in Mangalore, a city which has established itself as the knowledge hub of South India and has become a haven for advanced study. Beautiful environment and salubrious climate make Mangalore a dream destination for learning. Mangalore is well connected to the rest of the country by air, rail and road. Nestled amidst lush greenery, P. A. College of Engineering celebrates the serene splendor of pristine nature. Spread across 60 acres, the college offers the perfect setting for an academic environment.
                </p>

                <div style="margin-top:20px" class="our-speakers-cover">      
                    <div class="speaker-item">
                        <h3 class="title-line-left">
                            VISION AND MISSION
                        </h3>
                        <div class="speaker-item-content">
                            <h4>
                                Vision
                            </h4>

                            <p>
                                PACE is envisaged as a centre of evolution for excellence in Technological, Management and Research Education. The institution aspires to spread universal knowledge through villages and cities enabling expansion of human resources.

                            </p>

                        </div>
                        <div class="speaker-item-content">
                            <h4>Mission </h4>

                            <p>
                                To provide career-oriented professional education to produce technically competent engineers and managers with moral and ethical values.<br />
                                To foster and promote an effective learning environment in the campus to be recognized as place that encourages excellence and diversity in thoughts and endeavour.
                            </p>

                        </div>
                    </div> 
                </div>
            </div>
        </section>


