@if ((bool)ViewData["advisor"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Advisory Committees</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Advisory Committees</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}


<!--======= GENERAL ADVISOR COMMITTEE BODY START  =============-->
<section class="overview">
    <div class="container">
        <h3 class="title-line-left">
            General Advisory Committee
        </h3>
        <div class="overview-info-item">
            <p style="line-height: 2 "> Dr. P.S. Yadapadithaya, Vice Chancellor, Mangalore University
                <br />Dr. Abdul Sharief, Dean, School of Engineering, Presidency University
                <br />Dr. M Abdul Mujeebu, Imam Abdulrahman Bin Faisal University, KSA
                <br />Dr S A Khan, Professor, IIUM, Kuala Lumpur, Malaysia
                <br />Mr. Sabarinath Venugopal, IBM
                <br />Mr Brijesh Balakrishnan, President, ITC Infotech, India
                <br />Mr Shaheen Nasaruddin, Director, Information Security, Santander US
                <br />Dr. Jaby Mohammed, Assistant Professor, College of Applied Science and Technology, Illinois State University, USA
                <br />Dr. Sufiyan Baig, Professor, Aligarh Muslim University
                <br />Dr. Beeran Moideen, Registrar, Presidency University
                <br />Dr. Sabu Thomas, Vice Chancellor, M G University, Kerala
                <br />Dr. Prashantha Kalappa, Dean, ACU-Centre for Research and Innovation, Faculty of Natural Sciences, Adichunchanagiri University, Karnataka
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
<!--======= GENERAL ADVISOR COMMITTEE BODY END  =============-->


<!--============ SCIENTIFIC ADVISORY COMMITTEE START ===============-->
    <div class="container">
        <h3 class="title-line-left">
            Scientific Advisory Committee
        </h3>
        <div class="overview-info-item">
            <p style="line-height:2;">
                Prof Anh Nguyen, Prof Anh Nguyen, Australia
                <br />Giulio LORENZINI, University of Parma, Italy
                <br />Byong-Hun Jeon, Dean, Hanyang University, Seoul, Korea
                <br />Dr. Aloknath De, X CTO Samsung Research, Bangalore
                <br />Dr. Saif Abrar, IBM
                <br />Dr. Asif, Electrical and Computer Engineering Department, King Abdulaziz University, Jeddah, KSA
            </p>
        </div><br /><br /><br /><br /><br />
    </div>
</section>
<!--============ SCIENTIFIC ADVISORY COMMITTEE START ===============-->