
@if ((bool)ViewData["BestPapper"])
{
    <partial name="_ICESTmenus" />
}


    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Best Papper Awards</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Best Papper Rewardsr</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================= PAGE-TITLE END =================-->

    <div class="table">
        <table id='simple_table'>
            <tr>
                <th>Award</th>
                <th>Prize</th>

            </tr>

            <tr>
                <td>Best paper 1</td>
                <td>Rs. 15,000</td>

            </tr>
            <tr>
                <td>Best paper 2</td>
                <td>Rs. 12,000</td>
            </tr>
        </table>
    </div>