<partial name="_ICESTmenus" />

<section class="banner2" id="home">
    <div class="mainSlider">
        <div class="tp-banner1">
            <ul>
                <li data-transition="cube" data-slotamount="7" data-masterspeed="500">
                    <img src="~/Content/assets/images/p1.jpg" alt="PA college" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="360" data-voffset="0" data-speed="800" data-start="1200"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h2>Science can amuse and fascinate us all, but it is engineering that changes the</h2>
                        </div>
                    </div>
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="402" data-voffset="0" data-speed="1000" data-start="1500"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h1>World</h1>
                        </div>
                    </div>
                </li>
                <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="500">
                    <img src="~/Content/assets/images/p2.jpg" alt="PA college" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="360" data-voffset="0" data-speed="800" data-start="1200"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h2>Science is about knowing, engineering is about</h2>
                        </div>
                    </div>
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="402" data-voffset="0" data-speed="1000" data-start="1500"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h1>Doing.</h1>
                        </div>
                    </div>
                </li>
                <li data-transition="curtain-1" data-slotamount="7" data-masterspeed="500">
                    <img src="~/Content/assets/images/p3.jpg" alt="PA college" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="360" data-voffset="0" data-speed="800" data-start="1200"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h2>When you want to know how things really work, study them when they're coming</h2>
                        </div>
                    </div>
                    <div class="tp-caption sfb text-right homeOneSlider" data-x="center" data-hoffset="0"
                         data-y="402" data-voffset="0" data-speed="1000" data-start="1500"
                         data-easing="Power4.easeOut">
                        <div class="slid2s">
                            <h1>Apart.</h1>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>

<!--================= S-SCHEDULE-Program =================-->
<div class="container">
    <h2 class="title-line">Schedule of Event</h2>
    <p class="slogan">Events details not updated</p>
    @{
        ViewData["callforpapper"] = false;
    }
    <partial name="Callforpapper" view-data="ViewData" />
</div>
<!--================= S-SCHEDULE-Program End =================-->
<!--================= S-SCHEDULE-EVENT =================-->
<section class="s-schedule-event schedule-event-home-two" id="Events">
        <span class="title-position title-position-left">Program</span>
        <div class="container">
            <h2 class="title-line">Schedule of Programs</h2>
            <p class="slogan">Events details not updated</p>
            <ul class="schedule-cover">
                <li class="active">
                    <div class="schedule-header">
                        <div class="schedule-time">10:00-11:00</div>
                        <div class="schedule-title"> Not updated </div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="schedule-content">
                        <h3 class="title">Not decided</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li>
                    <div class="schedule-header">
                        <div class="schedule-time">11:00-12:00</div>
                        <div class="schedule-title">Not Updated</div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="schedule-content">
                        <h3 class="title">Not decided</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li>
                    <div class="schedule-header">
                        <div class="schedule-time">12:00-13:00</div>
                        <div class="schedule-title">Not updatad</div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="schedule-content">
                        <h3 class="title">Not decided</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li>
                    <div class="schedule-header">
                        <div class="schedule-time">13:00-14:00</div>
                        <div class="schedule-title">Not Updated</div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="schedule-content">
                        <h3 class="title">Not decided</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li>
                    <div class="schedule-header">
                        <div class="schedule-time">14:00-15:00</div>
                        <div class="schedule-title">Not Updated</div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="schedule-content">
                        <h3 class="title">Not decided</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
<!--=============== S-SCHEDULE-EVENT END ===============-->
<!--===================== S-PRICING =====================-->
<section class="s-pricing">
    <span class="title-position title-position-right">pricing</span>
    <div class="container">
        <h2 class="title-line">Pricing Plans</h2>
        @*<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>*@
        <div class="pricing-cover">
            @*<div class="pricing-item">
                    <h4 class="pricing-header">.A.</h4>
                    <div class="pricing-item-content">
                        <div class="price">$1</div>
                        <div class="pricing-slogan title-line">access to the conference</div>
                        <div class="pricing-info">
                            <ul>
                                <li>Conference Ticket</li>
                                <li>Coffee Break</li>
                                <li>Branded T-shirt</li>
                            </ul>
                        </div>
                        <a href="contacts.html" class="btn btn-yellow">Buy Now</a>
                    </div>
                </div>*@
            <div class="pricing-item">
                <h4 class="pricing-header">.International.</h4>
                <div class="pricing-item-content">
                    <div class="price">$500</div>
                    <div class="pricing-slogan title-line">access to the conference</div>
                    @*<div class="pricing-info">
                            <ul>
                                <li>Conference Ticket</li>
                                <li>Coffee Break</li>
                                <li>Branded T-shirt</li>
                                <li>Afterparty</li>
                            </ul>
                        </div>*@
                    <a href="#" class="btn btn-yellow">Buy Now</a>
                </div>
            </div>
            <div class="pricing-item">
                <h4 class="pricing-header">.National.</h4>
                <div class="pricing-item-content">
                    <div class="price">&#x20B9;6000</div>
                    <div class="pricing-slogan title-line">access to the conference</div>
                    @*<div class="pricing-info">
                            <p>When you purchase this package, you get an conference recording</p>
                        </div>*@
                    <a href="#" class="btn btn-yellow">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================== S-PRICING END ==================-->
@*<!--================= TRACK =================-->
<div class="container">
    <h2 class="title-line">Tracks</h2>
    <p class="slogan">Events details not updated</p>
    @{
        ViewData["Track"] = false;
    }
    <partial name="Track" view-data="ViewData" />
</div>
<!--================= TRACK END =================-->*@