@if ((bool)ViewData["patron"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Patrons</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Patrons</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}

<!--================== OUR-patrons ==================-->
<section class="our-speakers speakers-home-two" id="Speakers">
    <div class="bg-img" style="background-image: url(/Content/assets/img/bg-team-home-2.svg);"></div>
    <span class="title-position title-position-left">Partners</span>
    <span class="title-position title-position-right">Experts</span>
    <div class="container">
        <h2 class="title-line">Our Patrons</h2>
        <p class="slogan">They possess the secret knowledge and interesting experience of creating a product.</p>
        <div class="our-speakers-cover">
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/skr1.png" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Dr Ashwath Narayanan</h3>
                    <div class="prof">Minister of Higher Education.</div>
                    <p>IT and BT, Sci and Tech and Skill Development, Entrepreneurship and Livelihood, Former Dy CM, Government of Karnataka.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="https://www.linkedin.com/in/drashwathnarayan/?originalSubdomain=in"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/drashwathcn"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/skr2.png" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Mr. UT KHADAR</h3>
                    <div class="prof">Ex-Minister for Health and Family Welfare.</div>
                    <p>He is now serving as the deputy leader of Congress in Karnataka assembly.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/utkhader"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/skr3.png" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>MP </h3>
                    <div class="prof">LOcal MP</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/skr4.png" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Dr. Karisiddappa</h3>
                    <div class="prof">Vice Chancellor, Visvesvaraya Technological University.</div>
                    <p>He has over 34 years of teaching and research experience in the field of Structural Engineering.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/speaker-1.jpg" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Chancellor  PU</h3>
                    <div class="prof">Chancellor  PU</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/speaker-1.jpg" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Vice chancellor PU</h3>
                    <div class="prof">Vice chancellor PU</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/speaker-1.jpg" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>MR. ABDULLA</h3>
                    <div class="prof">Mr. Abulla</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/speaker-1.jpg" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>Mr. Zubair</h3>
                    <div class="prof">Mr. Zubair</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="speaker-item">
                <div class="speaker-item-img">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/speaker-1.jpg" alt="img">
                </div>
                <div class="speaker-item-content">
                    <h3>University of west London</h3>
                    <div class="prof">UWC</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!--================ OUR-patrons END ================-->