<partial name="_ICESTmenus" />

@model PaceConclaveVM.ICEST.RegisterVM
@*<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">*@
<html class="supernova">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F220061146517446" title="oEmbed Form">
        <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F220061146517446" title="oEmbed Form">
        <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
        <link rel="canonical" href="https://form.jotform.com/220061146517446" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    @*<title>Course Registration Form</title>*@
    <link type="text/css" rel="stylesheet" href="~/Content/assets/Contactform/cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91e3ac.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/Contactform/cdn02.jotfor.ms/css/styles/payment/payment_styles0de4.css?3.3.29993" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/Contactform/cdn03.jotfor.ms/css/styles/payment/payment_feature0de4.css?3.3.29993" />
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */

        /*PREFERENCES STYLE*/
        /* NEW THEME STYLE */



        .rating-item input:checked + label {
            color: #fff;
        }


        /* NEW THEME STYLE */
        /*PREFERENCES STYLE*/
        /*PREFERENCES STYLE*/
        .form-all {
            font-family: Inter, sans-serif;
        }

            .form-all .qq-upload-button,
            .form-all .form-submit-button,
            .form-all .form-submit-reset,
            .form-all .form-submit-print {
                font-family: Inter, sans-serif;
            }

            .form-all .form-pagebreak-back-container,
            .form-all .form-pagebreak-next-container {
                font-family: Inter, sans-serif;
            }

        .form-header-group {
            font-family: Inter, sans-serif;
        }

        .form-label {
            font-family: Inter, sans-serif;
        }

            .form-label.form-label-auto {
                display: block;
                float: none;
                text-align: left;
                width: 100%;
            }

        .form-line {
            margin-top: 12px 36px 12px 36px;
            margin-bottom: 12px 36px 12px 36px;
        }

        .form-all {
            max-width: 752px;
            width: 100%;
        }

        .form-label.form-label-left,
        .form-label.form-label-right,
        .form-label.form-label-left.form-label-auto,
        .form-label.form-label-right.form-label-auto {
            width: 230px;
        }

        .form-all {
            font-size: 16px
        }

            .form-all .qq-upload-button,
            .form-all .qq-upload-button,
            .form-all .form-submit-button,
            .form-all .form-submit-reset,
            .form-all .form-submit-print {
                font-size: 16px
            }

            .form-all .form-pagebreak-back-container,
            .form-all .form-pagebreak-next-container {
                font-size: 16px
            }

        .supernova .form-all, .form-all {
            background-color: #fff;
            border: 1px solid transparent;
        }

        .form-all {
            color: #2C3345;
        }

        .form-label-top,
        .form-label-left,
        .form-label-right,
        .form-html,
        .form-checkbox-item label,
        .form-radio-item label {
            color: #2C3345;
        }

        .supernova {
            background-color: #ecedf3;
        }

            .supernova body {
                background: transparent;
            }

        .form-textbox,
        .form-textarea,
        .form-radio-other-input,
        .form-checkbox-other-input,
        .form-captcha input,
        .form-spinner input {
            background-color: #fff;
        }

        .supernova {
            height: 100%;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: center top;
        }

        .supernova {
            background-image: url("../images/brushed.png");
        }

        #stage {
            background-image: url("../images/brushed.png");
        }

        .form-all {
            background-image: url("../images/brushed.png");
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: center top;
        }

        .ie-8 .form-all:before {
            display: none;
        }

        .ie-8 {
            margin-top: auto;
            margin-top: initial;
        }

        /*PREFERENCES STYLE*/ /*__INSPECT_SEPERATOR__*/
        /* Injected CSS Code */
    </style>

    <script src="~/Content/assets/Contactform/cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
    <script src="~/Content/assets/Contactform/cdn02.jotfor.ms/static/jotform.forms0de4.js?3.3.29993" type="text/javascript"></script>
    <script defer src="~/Content/assets/Contactform/cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
    <script src="~/Content/assets/Contactform/cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min33fa.js?v=3.3.29993" type="text/javascript"></script>
    <script defer src="~/Content/assets/Contactform/cdn01.jotfor.ms/js/vendor/maskedinput.min33fa.js?v=3.3.29993" type="text/javascript"></script>
    <script defer src="~/Content/assets/Contactform/cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min33fa.js?v=3.3.29993" type="text/javascript"></script>
</head>




<body>

    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Registration Form</h1>
            <h5 class="title-line-left">Fill out the form carefully for registration</h5>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li>Resgister</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================= PAGE-TITLE END =================-->
    <!--================= PAGE-CONTACTS =================-->
    <section class="page-contacts">
        <div class="container">
            @*<h2 class="title-line-left">Registration Form</h2>*@
            <div class="row">
                <div class="col-12 col-sm-4 page-cont-info">
                    <div class="cont-info-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <h5>Bank Details:</h5>
                        <p>
                            Name : PA College Of Engineering<br>
                            Name Of Bank : Bank Of Baroda <br>
                            Account No : 12345<br>
                            IFSC Code : 12345
                        </p>
                    </div>
                    <div class="cont-info-item">
                        <i class="fa " aria-hidden="true"></i>
                        <h5>QR Code</h5>
                        <a class="cont-phone">
                            <p>Scan the QR code for the payment</p>
                            <img src="~/Content/assets/img/download.png" alt="" srcset="">
                            <p>incase use 1234 upi id</p>
                        </a>

                    </div>
                    <div class="cont-info-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h5>Support</h5>
                        <ul class="cont-email">
                            <li><a href="mailto:info@pace.edu.in">info@pace.edu.in</a></li>
                            <li>12345</li>
                        </ul>
                        <br><br>
                    </div>
                </div>
                <div class="col-12 col-sm-8">

                    <form class="jotform-form" method="post" asp-action="Registerformsubmit" asp-controller="ICEST" autocomplete="on" enctype="multipart/form-data">

                        <input type="hidden" name="formID" />
                        <div role="main" class="form-all">
                            <style>
                                .form-all:before {
                                    background: none;
                                }
                            </style>
                            <ul class="form-section page-section">
                                @*<li id="cid_1" class="form-input-wide" data-type="control_head">
            <div class="form-header-group  header-large">
                <div class="header-text httal htvam">
                    <h1 id="header_1" class="form-header" data-component="header">
                        Registration Form
                    </h1>
                    <div id="subHeader_1" class="form-subHeader">
                        Fill out the form carefully for registration
                    </div>
                </div>
            </div>
        </li>*@

                                @*Name start*@
                                <li class="form-line" data-type="control_fullname">
                                    <label class="form-label form-label-top form-label-extended form-label-auto"> Name </label>
                                    <div class="form-input-wide" data-layout="full">
                                        <div data-wrapper-react="true" class="extended">
                                            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                                                <input asp-for="FirstName" type="text" name="FirstName" required>
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> First Name </label>
                                            </span>
                                            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="middle">
                                                <input asp-for="MiddleName" type="text" name="MiddleName">
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Middle Name </label>
                                            </span>
                                            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                                                <input asp-for="LastName" type="text" name="LastName">
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Last Name </label>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                @*Name end*@

                                @*select option start*@
                                <li class="form-line" data-type="control_dropdown">
                                    <label class="form-label form-label-top form-label-auto"> Select </label>
                                    <div id="cid_46" class="form-input-wide" data-layout="half">
                                        <select class="form-dropdown" asp-for="Catagory" name="Catagory" style="width:310px" data-component="dropdown" required>
                                            <option value=""> Please Select </option>
                                            <option value="Student(UG/PG)">  Student(UG/PG)</option>
                                            <option value="Resarch Scholars(Ph.D/JRF etc) "> Resarch Scholars(Ph.D/JRF etc) </option>
                                            <option value="Faculty from Academic Institution"> Faculty from Academic Institution </option>
                                            <option value="Researchers from Industry"> Researchers from Industry </option>
                                            <option value="Listener Without Paper Presentation"> Listener Without Paper Presentation</option>
                                            <option value="Other"> Other</option>
                                        </select>
                                    </div>
                                </li>
                                @*select option end*@

                                @*Email start*@
                                <li class="form-line form-line-column form-col-1" data-type="control_email">
                                    <label class="form-label form-label-top">  E-mail Id</label>
                                    <div id="cid_6" class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input asp-for="Email" type="email" name="Email" required>
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> ex:ankush@gmail.com </label>
                                        </span>
                                    </div>
                                </li>
                                @*Email end*@

                                @*mobile start*@
                                <li class="form-line form-line-column form-col-2" data-type="control_phone">
                                    <label class="form-label form-label-top"> Mobile Number </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input asp-for="Mobile" type="tel" name="Mobile" placeholder="000 000 0000" required number on invalid="this.setCustomValidity('Please enter your phone number)" input="this.setCustomValidity('')" pattern="[7-9]{1}[0-9]{9}">
                                            <label class="form-sub-label is-empty" style="min-height:13px" aria-hidden="false">  </label>
                                        </span>
                                    </div>
                                </li>
                                @*mobile end*@

                                @*Altmobile start*@
                                <li class="form-line form-line-column form-col-3" data-type="control_phone">
                                    <label class="form-label form-label-top">Alternative Mobile Numbers </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="tel" asp-for="AltMobile" name="AltMobile" autoComplete="off" style="width:310px" placeholder="000 000 0000" pattern="[7-9]{1}[0-9]{9}" />
                                            <label class="form-sub-label is-empty" style="min-height:13px" aria-hidden="false">  </label>
                                        </span>
                                    </div>
                                </li>
                                @*Altmobile end*@

                                @*paperid start*@
                                <li class="form-line form-line-column form-col-4" data-type="control_phone" id="id_26">
                                    <label class="form-label form-label-top"> Paper ID </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="text" asp-for="PapperId" name="PapperId" autoComplete="off" style="width:310px" placeholder="ex: ABC0000" />
                                            <label class="form-sub-label is-empty" style="min-height:13px" aria-hidden="false">  </label>
                                        </span>
                                    </div>
                                </li>
                                @*paperid end*@

                                @*papertittle start*@
                                <li class="form-line" data-type="control_address">
                                    <label class="form-label form-label-top form-label-auto"> Tittle of the Paper </label>
                                    <div class="form-input-wide" data-layout="full">
                                        <div class="form-address-table jsTest-addressField">
                                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                                <span class="form-address-line form-address-street-line jsTest-address-lineField">
                                                    <span class="form-sub-label-container" style="vertical-align:top">
                                                        <input type="text" asp-for="PapperTittle" name="PapperTittle" autoComplete="on" required="" />
                                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false">ex: Software Engineering and Project Management </label>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @*papertittle end*@

                                @*author start*@
                                <li class="form-line form-line-column form-col-4" data-type="control_phone" id="id_26">
                                    <label class="form-label form-label-top"> Name of the Authors </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="text" asp-for="PapperAuthor" name="PapperAuthor" autoComplete="off" style="width:310px" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false">same order as mentioned in the papper</label>
                                        </span>
                                    </div>
                                </li>
                                @*author end*@

                                @*affiliation authors start*@
                                <li class="form-line form-line-column form-col-4">
                                    <label class="form-label form-label-top"> Affiliation of the Authors </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="text" asp-for="AffilicationAuthor" name="AffilicationAuthor" data-type="input-textbox" class="form-textbox" autoComplete="off" style="width:310px" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false">same order as mentioned in the paper</label>
                                        </span>
                                    </div>
                                </li>
                                @*affiliation authors end*@

                                @*corresponding authors start*@
                                <li class="form-line form-line-column form-col-4">
                                    <label class="form-label form-label-top"> Corresponding authors name </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="text" asp-for="CorrespondingAuthor" name="CorrespondingAuthor" data-type="input-textbox" class="form-textbox" autoComplete="off" style="width:310px" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false">same order as mentioned in the paper</label>
                                        </span>
                                    </div>
                                </li>
                                @*corresponding authors end*@

                                @*corresponding authors email start*@
                                <li class="form-line form-line-column form-col-4">
                                    <label class="form-label form-label-top"> Corresponding authors Email Id </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="email" asp-for="CorrespondingAuthorEmail" name="CorrespondingAuthorEmail" data-type="input-textbox" class="form-textbox validate[Email]" autocomplete="off" style="width:310px" placeholder="ex: myname@example.com" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false">example@example.com </label>
                                        </span>
                                    </div>
                                </li>
                                @*corresponding authors email end*@

                                @*transactionID start*@
                                <li class="form-line form-line-column form-col-4">
                                    <label class="form-label form-label-top"> Transaction ID </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="tel" asp-for="TransactionId" name="TransactionId" autoComplete="off" style="width:310px" placeholder="ex:1AB23456C7890123D " required />
                                        </span>
                                    </div>
                                </li>
                                @*transactionID end*@

                                @*transactiondate start*@
                                <li class="form-line form-line-column form-col-4">
                                    <label class="form-label form-label-top"> Transaction Date</label>
                                    <div class="form-input-wide" data-layout="half">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                            <input type="date" asp-for="TransactionDate" name="TransactionDate" data-type="input-textbox" class="form-textbox validate[Email]" autoComplete="off" style="width:310px" required />
                                        </span>
                                    </div>
                                </li>
                                @*transactiondate end*@





                                @*transaction image start*@
                                <li class="form-line form-line-column form-col-5">
                                    <label class="form-label form-label-top"> Image Transaction record</label>
                                    <div class="form-input-wide" data-layout="half">
                                        <input type="file" name="ImageFile" asp-for="ImageFile" class="form-textbox" style="width:310px" size="310" accept="image/*" required />
                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false">Attach valid proof of transaction</label>
                                    </div>
                                </li>
                                @*transaction image end*@












                                @*Amountpaid start*@
                                <li class="form-line form-line-column form-col-5">
                                    <label class="form-label form-label-top"> Amount Paid </label>
                                    <div class="form-input-wide" data-layout="half">
                                        <input type="number" name="AmountPaid" asp-for="AmountPaid" class="form-textbox" style="width:310px" size="310" required />
                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false">Enter the correct amount you paid</label>
                                    </div>
                                </li>
                                @*Amountpaid end*@

                                @*Address start*@
                                <li class="form-line">
                                    <label class="form-label form-label-top form-label-auto"> Address </label>
                                    <div id="cid_23" class="form-input-wide" data-layout="full">
                                        <div summary="" class="form-address-table jsTest-addressField">
                                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                                <span class="form-address-line form-address-street-line jsTest-address-lineField">
                                                    <span class="form-sub-label-container" style="vertical-align:top">
                                                        <input type="text" name="StreetAddress" asp-for="StreetAddress" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="on" required />
                                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Street Address </label>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                                <span class="form-address-line form-address-city-line jsTest-address-lineField ">
                                                    <span class="form-sub-label-container" style="vertical-align:top">
                                                        <input type="text" name="City" asp-for="City" class="form-textbox form-address-city" data-defaultvalue="" autoComplete="on" required />
                                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> City </label>
                                                    </span>
                                                </span>
                                                <span class="form-address-line form-address-state-line jsTest-address-lineField ">
                                                    <span class="form-sub-label-container" style="vertical-align:top">
                                                        <input type="text" name="State" asp-for="State" class="form-textbox form-address-state" data-defaultvalue="" autoComplete="on" required />
                                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> State / Province </label>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                                <span class="form-address-line form-address-zip-line jsTest-address-lineField ">
                                                    <span class="form-sub-label-container" style="vertical-align:top">
                                                        <input type="text" name="Postal" asp-for="Postal" class="form-textbox form-address-postal" data-defaultvalue="" autoComplet="on" required />
                                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Postal / Zip Code </label>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @*Address end*@

                                @*Additional Comment start*@
                                <li class="form-line" data-type="control_textarea">
                                    <label class="form-label form-label-top form-label-auto"> Additional Comments </label>
                                    <div class="form-input-wide" data-layout="full">
                                        <textarea class="form-textarea" name="Comments" asp-for="Comments" style="width:648px;height:163px" data-component="textarea"></textarea>
                                    </div>
                                </li>
                                @* Additional Comment end*@





                                @*submit start*@
                                <li class="form-line form-line-column form-col-1" data-type="control_button" id="id_20">
                                    <div class="form-input-wide" data-layout="full">
                                        <div data-align="center" class="form-buttons-wrapper form-buttons-left   jsTest-button-wrapperField">
                                            <button id="Submit" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                                                Submit Application
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                @*submit end*@


                                @*clear start*@
                                @*<li class="form-line form-line-column form-col-2" data-type="control_button" id="id_19">
            <div id="cid_19" class="form-input-wide" data-layout="full">
                <div data-align="right" class="form-buttons-wrapper form-buttons-right   jsTest-button-wrapperField">
                    <button id="input_19" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                        Clear Fields
                    </button>
                </div>
            </div>
        </li>*@
                                @*clear end*@

                                <li style="clear:both">
                                </li>

                                <li style="display:none">
                                    Should be Empty:
                                    <input type="text" name="website" value="" />
                                </li>

                            </ul>
                        </div>
                        <div class="formFooter-heightMask">
                        </div>























                    </form>

                </div>

            </div>
        </div>
    </section>
    <!--================= PAGE-CONTACTS END =================-->



</body>

</html>
<script src="~/Content/assets/Contactform/cdn.jotfor.ms/js/vendor/smoothscroll.min33fa.js?v=3.3.29993"></script>
<script src="~/Content/assets/Contactform/cdn.jotfor.ms/js/errorNavigation33fa.js?v=3.3.29993"></script>
@*<script type="text/javascript">
        // function myfunction(){
        //   if( $('name').toString.length()>=0 && $('parentname').val()>=0 ){
        //   document.getElementById("snd").innerHTML="Processing...";
        //   }
        //   if( $('parentphone').toString.length()!= 10 ){
        //   document.getElementById("snd").innerHTML="Resubmit";
        //   }
        function submitfunction() {
            document.getElementById("Submit").innerHTML = "Processing......";
            let x = document.forms["google-sheet"]["FirstName"].value;
            let y = document.forms["google-sheet"]["Email"].value;
            let z = document.forms["google-sheet"]["MobileNumber"].value;
            let a = document.forms["google-sheet"]["TittleofthePaper"].value;
            let b = document.forms["google-sheet"]["TransactionDate"].value;
            if (x != "" && y != "" && a != "" && b != "" && z.length == 10) {
                if (window.confirm('Please Check the Data once again before Submission.If cross Checked than please press "okk"')) {
                    document.getElementById("Submit").innerHTML = "Done !";
                    const scriptURL = 'https://script.google.com/macros/s/AKfycby7Bqis2jXRRd_RVtbfXz6ldXmHqPQU8ORBZPXhHUATlGvyuVmMTJdMzhFa-EBapgZ7ww/exec'
                    const form = document.forms['google-sheet']
                    form.submitfunction('submit', e => {
                        e.preventDefault()
                        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                            .then(response => confirm("Congrats! you have successfully registered."))
                            .then(() => {
                                document.getElementById("Submit").innerHTML = "Done !";
                               // document.getElementById("google-sheet").value = "";

                                //window.location.reload();
                            })
                            // ?"":location.reload();
                            .catch(error => console.error('Error!', error.message))

                        // .window.location.reload();
                        //document.getElementById("snd").innerHTML="Done !";

                    })

                }
                else {
                    document.getElementById("Submit").innerHTML = "Resubmit !";
                }
            }

            // else{

            // if($('snd').toString.length()==13){
            //window.location.reload();
        }

    </script>*@