@if ((bool)ViewData["speakers"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Speakers</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Speakers</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}

<p>This is paper section coming soon developer please3 handle</p>