@*ICEST heading start*@
@*<div class="allevents">
    <div class=" header-two-btn">
        <a href="#" class="btns">ICEST</a>
    </div>
</div> *@
@*ICEST heading end*@


@if ((bool)ViewData["submission"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Paper / Abstract submission</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Paper / Abstract submission</li>                   
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}

<!--=================== PAGE-TITLE ===================-->
@*<div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
    <div class="container">
        <h1 class="title-line-left">Submission</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Submission</li>
            </ul>
        </div>
    </div>
</div>*@
<!--================= PAGE-TITLE END =================-->




<!--==================== OVERVIEW ====================-->
<section class="overview">
    <div class="container">
        <h3 class="title-line-left">
            Updating......
        </h3>
        @*<div class="row">
                <div class="col-12 col-md-6">
                    <div class="overview-info">

                        <div class="overview-info-item">

                            <h6 class="li-box">
                                <li>Engineering Materials and Materials Technology</li>
                            </h6>
                            <h6 class="li-box">
                                <li>
                                    Multifunctional Smart Materials (e.g. Shape Memory Alloys Piezoelectric
                                    Materials etc.)
                                </li>
                            </h6>
                            <h6 class="li-box">
                                <li>Composites</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Fatigue and creep</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Advance Manufacturing Processes</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Additive Manufacturing</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Rapid Manufacturing Technologies and Prototyping</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Polymers and processing of polymers</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Metrology</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Smart Structures</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Robotics and Automation</li>
                            </h6>



                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="overview-info">
                        <div class="overview-info-item">

                            <h6 class="li-box">
                                <li>Robotics and Automation</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Engineering Materials and Materials Technology</li>
                            </h6>
                            <h6 class="li-box">
                                <li>
                                    Multifunctional Smart Materials (e.g. Shape Memory Alloys Piezoelectric
                                    Materials etc.)
                                </li>
                            </h6>
                            <h6 class="li-box">
                                <li>Composites</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Fatigue and creep</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Advance Manufacturing Processes</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Additive Manufacturing</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Rapid Manufacturing Technologies and Prototyping</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Polymers and processing of polymers</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Metrology</li>
                            </h6>
                            <h6 class="li-box">
                                <li>Smart Structures</li>
                            </h6>



                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</section>


<!--================= OUR-HISTORY END =================-->
@*<section class="our-history s-title-bg">
        <span class="title-bg">Our Plublications </span>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="our-history-left">
                        <h2 class="title-line-left">Publication</h2>
                        <div class="overview-info-item">
                            <p>
                                All accepted and presented articles after peer review process will be published in
                                Materials Today: Proceedings (SCOPUS indexed).
                            </p>
                        </div>
                        <h3 class="title-relevant-link">Relevant Links</h3>
                        <div class="overview-info-item">
                            <ul class="relevent-link">
                                <li class="relevent-link"><a class="relevent-link" href="">Paper Submission Dashboard</a></li>
                                <li><a class="relevant-link" href="">Paper Submission Guidlines</a></li>
                                <li><a class="relevant-link" href="">Template</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="history-info-cover">
                        <div class="history-info">
                            <h4 class="title"><span>31 - Dec - 2021 <br> </span>Full Paper Submission Deadline</h4>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>01 - Jan - 2022 <br> </span>Notification of Shortlisted Papers</h4>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>01 - Feb - 2022 <br> </span>Registration Deadline</h4>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>18, 19 - Feb - 2022 <br> </span>Conference Date</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@













<!--================= OUR-HISTORY END =================-->
<!--================== OVERVIEW END ==================-->