@*ICEST heading start*@
@*<div class="allevents">
    <div class=" header-two-btn">
        <a href="#" class="btns">ICEST</a>
    </div>
</div> *@
@*ICEST heading end*@


@if ((bool)ViewData["submission"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Paper / Abstract submission</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Paper / Abstract submission</li>                   
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}

<!--=================== PAGE-TITLE ===================-->
@*<div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
    <div class="container">
        <h1 class="title-line-left">Submission</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Submission</li>
            </ul>
        </div>
    </div>
</div>*@
<!--================= PAGE-TITLE END =================-->




<!--==================== OVERVIEW ====================-->
<section class="overview">
    <div class="container">
        <h3 class="title-line-left">
            Paper/ Abstract Submission
        </h3>
        <div class="overview-info-item">
            <p>
                Participants who wish to present a paper at the conference shall submit a concise abstract consisting of 300-500 words. All the abstracts/ full length papers must be written in English language. Once the abstract is accepted, the participant will be asked to complete their Full-Length Manuscript Submission if they intend to publish it in the indexed publications, which are subject to peer review. Based on the reviewer's suggestions, the response will be communicated to the participants
            </p>
        </div>

        <br /><br />
        
        <h3 >
            Full length paper format
        </h3>
        <div class="overview-info-item">
            <p>The manuscript should be submitted in MS Word in 12-point, Times New Roman font and one & a half line spacing with a single column only. The paper should contain title, author(s) name, affiliation, address, abstract (limited to 300 words), Introduction, Formulation, Methodology (Theory or Experiment), Results, Conclusions, and References. Tables and figures must be imported into the text while preparing the manuscript. For more details click the full-length paper template link below. </p>
            </div>
    </div>
    
</section>














