@if ((bool)ViewData["technical"])
{
    <partial name="_ICESTmenus" />
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Technical Committees</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Technical Committees</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}


<!--======= TECHNICAL COMMITTEE BODY START  =============-->
<section class="overview">
    <div class="container">
        <h3 class="title-line-left">
            Technical Committee
        </h3>
        <div class="overview-info-item">
            <p style="line-height: 2 ">
                <br />Dr. Hakeem Niyas, Energy Institute, Bengaluru
                <br />Jithesh Ramachandran, Director - Lean and Manufacturing Excellence, Adidas Indianapolis, USA
                <br />Prof. Parvathy, USM, Malaysia
                <br />Dr. Arifuddin Suhail (MJCET), Hyderabad
                <br />Azim Siddique, Global Solutions Architect, Industrials & Manufacturing, Amazon Web Services Chicago Illinois USA
                <br />Dr. Muthu Ram Prabhu, Elenchezhian, School of Aeronautics and Astronautics, Composites Manufacturing & Simulation Center, Purdue University
                <br />Dr. Sharique Syed
                <br />Dr. Janaki
                <br />Dr. Misbauddin
                <br />Darshan Kasaravalli
                <br />Raghu Mohan
                <br />Prasant Mishra
                <br />Imran Khan
                <br />Sameer Basha
                <br />Rajarshi Palit
                <br />Ameen
                <br />Janaki
                <br />Dr. Syed Afser
                <br />Dr. Greg Adamson
                <br />Dr. Navin Kumar, Amrita College of Engineering, Bangalore
                <br />Dr. Sreenivas T
                <br />Dr. Ahteshamul Haque
                <br />Dr. Arifuddin Sohel
                <br />Dr. Anil Roy
                <br />Dr. Ashutosh Dutta
                <br />Sandeep Agarwal
                <br />Dr. Parvez Shaik
                <br />Dr. Javed GS
                <br />Dr. Kishore Annam Thyagarajan
                <br />Dr. Subhas Mondal, Vice President, HFCL
                <br />Dr. Jay Kumar (JK)
                <br />Dr. ISMAYIL, Department of Physics, Manipal Institute of Technology,
                <br />Dr Chandra Shekhara Shetty T, Department of Physics, St Aloysius College (Autonomous) 
                <br />Dr Jagadeesha B, St Joseph Engineering College Vamanjoor Mangaluru 
             </p>
        </div>
    </div>
</section>

