



@if ((bool)ViewData["Track"])
{
    <partial name="_ICESTmenus"/>
    <!--=================== PAGE-TITLE ===================-->
    <div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
        <div class="container">
            <h1 class="title-line-left">Themes</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/ICEST/Icest">Home</a></li>
                    <li>Themes</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================ PAGE-TITLE END =================-->
}

<br>
<!--================ TITTLE START =================-->
<div class="container">
    <div class="row col-12">
        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>Track 1: Mechanical Engineering</h4>
                    <div class="tracks">

                        <p class="line">
                           <!-- <span class="bold">Track 1:</span> --> 
                            Design and Production
                        </p>
                        <p class="line">
                           <!-- <span class="bold">Track 2:</span> -->
                            Thermal Sciences
                        </p>
                        <p class="line">
                           <!-- <span class="bold">Track 3:</span> -->
                            Manufacturing and Machining
                        </p>
                        <p class="line">
                           <!-- <span class="bold">Track 4:</span> -->
                            Energy and Environment
                        </p>
                        <p class="line">
                           <!-- <span class="bold">Track 5:</span> -->
                            Robotics and Automation
                        </p>
                        <p class="line">
                           <!-- <span class="bold">Track 6:</span> -->
                            Materials and Modelling
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>
                        Track 2: Civil Engineering
                    </h4>
                    <div class="tracks">

                        <p class="line">
                            <!-- <span class="bold">Track 1:</span> --> 
                            Geotechnical and Environment
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 2:</span> --> 
                            Building materials and construction
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 3:</span> --> 
                            Architecture and Planning
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 4:</span> --> 
                            Structural Engineering
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 5:</span> --> 
                            Transportation and Traffic
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 6:</span> -->
                            Water resources and Irrigation
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>Track 3: Electronics and Communication Engineering </h4>
                    <div class="tracks">

                        <p class="line">
                            <!-- <span class="bold">Track 1:</span> --> 
                            Communication and Networking
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 2:</span> --> 
                            Signal and Image Processing
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 3:</span> --> 
                            Circuits, Systems and Antennas
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 4:</span> --> 
                            Devices, Materials and Processing
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 5:</span> --> 
                            Energy and Power Electronics
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 6:</span> --> 
                            Robotics, Control and Automation
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>Track 4: Computer Science and Engineering </h4>
                    <div class="tracks">

                        <p class="line">
                            <!-- <span class="bold">Track 1:</span> -->
                            Data Science and Machine Learning
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 2:</span> -->
                            Cloud and Grid Computing
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 3:</span> -->
                            Blockchain
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 4:</span> -->
                            Internet of Things (IOT)
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 5:</span> -->
                            Security and Cryptography
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 6:</span> -->
                            Computational Sciences
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>Track 5:Biotechnology  </h4>
                    <div class="tracks">

                        <p class="line">
                            <!-- <span class="bold">Track 1:</span> -->
                            Food technology
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 2:</span> -->
                            Drug Design
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 3:</span> -->
                            Agricultural Biotechnology
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 4:</span> -->
                            Clinical Research
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 5:</span> -->
                            Environmental Engineering
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 6:</span> -->
                            Bioprocessing
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="rcontainer">
                <div class="threedbox">
                    <h4>Track 6: Basic and Applied Science </h4>
                    <div class="tracks">

                        <p class="line">
                            <!-- <span class="bold">Track 1:</span> -->
                            Chemical Sciences
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 2:</span> -->
                            Materials Chemistry and Polymers
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 3:</span> -->
                            Graph Theory
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 4:</span> -->
                            Fluid Mechanics
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 5:</span> -->
                            Nanotechnology
                        </p>
                        <p class="line">
                            <!-- <span class="bold">Track 6:</span> -->
                            Applied Physics
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--================ TITTLE END =================-->
