<div class="header-menu header-menu-two">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <nav class="nav-menu">
                    <ul class="nav-list">
                        <li ><a href="/Home/Index">Home</a></li>
                        <li class="active"><a href="/Home/About">About us</a></li>
                        @*<li><a href="/Home/About">About us</a></li>*@
                        @*<li><a href="/Home/Track">Tracks</a></li>*@
                        <li><a href="/Home/Gallery">Gallery</a></li>
                        @*<li><a href="/Home/Index/#Speakers">Speakers</a></li>
                            <li><a href="#">Committees</a></li>*@
                        <!--<li class="dropdown">-->
                        @*<a href="#">Papers <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="#">Call for Paper</a></li>
                                <li><a href="/Home/Bestpapperawards">Best Paper Awards</a></li>
                                <li><a href="/Home/Submission">Submission</a></li>
                            </ul>*@
                        <!--</li>-->
                        @*<li><a href="/Home/Register">Register</a></li>*@
                        <li><a href="/Home/Contact">Contacts</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-2">
                @*<div class="header-two-search">
                        <div class="header-search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <form action="#">
                            <input type="search" name="search" placeholder="Search">
                            <button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
</div>


<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg);">
    <div class="container">
        <h1 class="title-line-left">About Us</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->
<!--==================== OVERVIEW ====================-->
<section class="overview">
    <div class="container">
        <h2 class="title-line">
            About PACE and PAET
        </h2><br />
        <p style="margin:10px 0 10px 0">P.A. College of Engineering (PACE) was established in the year 2000 under the aegis of PAET, with an aim to provide a career-oriented professional education and to produce technically competent engineers with moral and ethical values. The institution is dedicated to promote an effective learning environment that encourages excellence and diversity in thoughts and endeavor. PACE is affiliated to the Visvesvaraya Technological University (VTU), Belgaum and is approved by the All-India Council for Technical Education (AICTE), New Delhi, recognized by the Government of Karnataka and is certified to ISO 9001-2008.</p>

        <p style="margin:10px 0 20px 0">
            P.A. College of Engineering which instituted with a total intake of 240 students- 60 students each in four disciplines of engineering, has now grown in leaps and bounds. Over the 15 years, new undergraduate programmes, postgraduate programmes in various branches of engineering, MBA courses and Research programmes were added to meet the growing demand in the industry and the intake has been increased to 450 in Engineering courses. Teaching and research facilities at PACE are already among the best and continue to improve. Well qualified faculty with international reputation, a well-developed campus and outstanding infrastructure makes PACE much sought after for technical and management education. The institution regularly invites experts from industry and academia for interaction with students. While helping the students to reach their full potential. PACE also offers innumerable opportunities for extracurricular activities that match nearly every interest.<br /><br /> PACE is located in Mangalore, a city which has established itself as the knowledge hub of South India and has become a haven for advanced study. Beautiful environment and salubrious climate make Mangalore a dream destination for learning. Mangalore is well connected to the rest of the country by air, rail and road. Nestled amidst lush greenery, P. A. College of Engineering celebrates the serene splendor of pristine nature. Spread across 60 acres, the college offers the perfect setting for an academic environment.
        </p>

        <div style="margin-top:20px" class="our-speakers-cover">
            <div class="speaker-item" style="display: flex; align-items:center; justify-content:space-between">
                <h3 class="title-line-left">
                    VISION AND MISSION
                </h3>
                <div class="speaker-item-content" style="padding:60px">
                    <h4>
                        Vision
                    </h4>

                    <p>
                        PACE is envisaged as a centre of evolution for excellence in Technological, Management and Research Education. The institution aspires to spread universal knowledge through villages and cities enabling expansion of human resources.

                    </p>

                </div>
                <div class="speaker-item-content" style="padding:60px">
                    <h4>Mission </h4>

                    <p>
                        To provide career-oriented professional education to produce technically competent engineers and managers with moral and ethical values.<br />
                        To foster and promote an effective learning environment in the campus to be recognized as place that encourages excellence and diversity in thoughts and endeavour.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================== OVERVIEW END ==================-->
<!--================= OUR-HISTORY END =================-->
@*<section class="our-history s-title-bg">
        <span class="title-bg">Our History</span>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="our-history-left">
                        <h2 class="title-line-left">Our History</h2>
                        <div class="overview-info-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                            <p>Elementum nibh tellus molestie nunc non blandit massa enim. Pretium aenean pharetra magna ac placerat vestibulum lectus.</p>
                        </div>
                        <div class="overview-info-item">
                            <h5>Our Certificates</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim. </p>
                        </div>
                        <div class="history-cert">
                            <div class="history-cert-img">
                                <a href="/Content/assets/img/certificate-1.jpg" data-fancybox="gallery2">
                                    <img src="/Content/assets/img/certificate-1.jpg" alt="img">
                                </a>
                            </div>
                            <div class="history-cert-img">
                                <a href="/Content/assets/img/certificate-1.jpg" data-fancybox="gallery2">
                                    <img src="/Content/assets/img/certificate-1.jpg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="history-info-cover">
                        <div class="history-info">
                            <h4 class="title"><span>2012-2014. </span>Our Establishment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam. Elementum nibh tellus molestie.</p>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>2014. </span>The Early Days</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>2015-2016. </span>Prosperity of Company</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                        </div>
                        <div class="history-info">
                            <h4 class="title"><span>2017-2018. </span>Worldwide Recognition</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--================= OUR-HISTORY END =================-->
<!--=================== S-OUR-TEAM ===================-->
<section class="s-our-team about-team">
    <div class="our-team-bg" style="background-image: url(/Content/assets/img/bg-team-about.svg);"></div>
    <div class="container">
        <h2 class="title-line">Our Team</h2>
        <p class="slogan">They possess the secret knowledge and interesting experience in field of Engineering.</p>
        <div class="row team-cover">
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-1.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Abdulla Ibrahim</a></h4>
                <div class="prof">Chairman</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-2.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Zuhair Ibrahim</a></h4>
                <div class="prof">Managing Trustee</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-3.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. Ramis M K</a></h4>
                <div class="prof">Principal PA Engineering</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-4.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. Surfraz J Hashim</a></h4>
                <div class="prof">Principal PA First Grade</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-5.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. Salummullah Khan</a></h4>
                <div class="prof">Principal PA Pharmacy</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-6.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. Sajeesh Rajehnandan</a></h4>
                <div class="prof">Pricipal Physiotherapy</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-5.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. K P Soofie</a></h4>
                <div class="prof">Principal PA Polytechnic</div>

            </div>
            <div class="col-6 col-sm-4 team-item">
                <a href="about.html" class="team-img">
                    <img src="/Content/assets/img/team-6.jpg" alt="team">
                </a>
                <h4 class="title"><a href="about.html">Dr. Sayyed Amin</a></h4>
                <div class="prof">Director MBA</div>

            </div>
        </div>
    </div>
</section>
<!--================= S-OUR-TEAM END =================-->
<!--================ S-UPCOMING-COURSE ================-->
<section class="s-upcoming-course s-title-bg">
    <span class="title-bg-left">PACE GROUP</span>
    <div class="container">
        <h2 class="title-line">PACE GROUP</h2>
        <p class="slogan">
            The P.A. Educational Trust was established in 1999 with a mission to deliver quality education at
            par with global standards. The Trust through its various educational institutions is committed to mould the new generation with knowledge, ethics and social responsibility.
        </p>
        <div class="upcoming-course-cover">
            <div class="course-item-left">
                <div class="upcoming-course-item">
                    <div class="date-cover">
                        <div class="day">12</div>
                        <div class="date-info">
                            <div class="month">november, 2018</div>
                            <div class="name">The Plaza Center</div>
                        </div>
                    </div>
                    <h3 class="title"><a href="events.html">P.A College Of Engineering</a></h3>
                    <div class="upcoming-course-adr">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Near Mangalore University, <br>Konaje,Mangalore  <span>|</span>Karnataka</p>
                    </div>
                    <a href="https://www.pace.edu.in/#" class="btn">More</a>
                </div>
            </div>
            <div class="upcoming-course-img">
                <img src="~/Content/assets/images/PACE Campus.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--============== S-UPCOMING-COURSE END ==============-->
<!--==================== S-COUNTER ====================-->
@*<section class="s-counter counter-animate counter-active s-bg">
        <div class="mask" style="background-image: url(/Content/assets/img/bg-effect-counter.svg);"></div>
        <div class="container">
            <div class="row counter-cover">
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="28">0</span></div>
                    <h5>speakers</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="3">0</span>k</div>
                    <h5>happy customers</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="650">0</span></div>
                    <h5>Places</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="350">0</span></div>
                    <h5>Podcasts</h5>
                </div>
            </div>
        </div>
    </section>*@
<!--================== S-COUNTER END ==================-->
