	<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg);">
        <div class="container">
            <h1 class="title-line-left">About Us</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!--================= PAGE-TITLE END =================-->
    <!--==================== OVERVIEW ====================-->
    <section class="overview">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="overview-info">
                        <h2 class="title-line-left">Overview</h2>
                        <div class="overview-info-item">
                            <p>
                                ICET is an international peer reviewed event to bring together academia, engineers, students, and researchers in the field of Engineering, science and technology,
                                making it an ideal platform for sharing knowledge, fostering industry-academic collaborations, and evaluating emerging technologies from around the world.
                            </p>
                            <p>Participants will be able to exchange ideas in order to profit from each other's contributions, as well as learn about current research being conducted throughout the world.</p>
                        </div>
                        <div class="overview-info-item">
                            <h5>Our Mission</h5>
                            <p>
                                This conference will serve as a global platform for the presentation of novel research findings, as well as the exchange and dissemination of creative and unique research experiences.
                                The conference aims to enhance the state-of-the-art in all filed of Engineering by encouraging novel, high-quality research discoveries and innovative solutions to upcoming and challenging engineering problems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 overview-img-cover">
                    <div class="overview-img-cover">
                        <div class="overview-img">
                            <img src="/Content/assets/images/PACE Campus High Res (5).jpg" alt="P a college of engineering">
                            <img src="/Content/assets/images/PACE Campus High Res (84).jpg" alt="P a college of engineering">
                        </div>
                        <div class="overview-img">
                            <img src="/Content/assets/images/PACE Campus High Res (7).jpg" alt="P a college of engineering">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================== OVERVIEW END ==================-->
    <!--================= OUR-HISTORY END =================-->
    @*<section class="our-history s-title-bg">
            <span class="title-bg">Our History</span>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="our-history-left">
                            <h2 class="title-line-left">Our History</h2>
                            <div class="overview-info-item">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                                <p>Elementum nibh tellus molestie nunc non blandit massa enim. Pretium aenean pharetra magna ac placerat vestibulum lectus.</p>
                            </div>
                            <div class="overview-info-item">
                                <h5>Our Certificates</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim. </p>
                            </div>
                            <div class="history-cert">
                                <div class="history-cert-img">
                                    <a href="/Content/assets/img/certificate-1.jpg" data-fancybox="gallery2">
                                        <img src="/Content/assets/img/certificate-1.jpg" alt="img">
                                    </a>
                                </div>
                                <div class="history-cert-img">
                                    <a href="/Content/assets/img/certificate-1.jpg" data-fancybox="gallery2">
                                        <img src="/Content/assets/img/certificate-1.jpg" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="history-info-cover">
                            <div class="history-info">
                                <h4 class="title"><span>2012-2014. </span>Our Establishment</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam. Elementum nibh tellus molestie.</p>
                            </div>
                            <div class="history-info">
                                <h4 class="title"><span>2014. </span>The Early Days</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                            </div>
                            <div class="history-info">
                                <h4 class="title"><span>2015-2016. </span>Prosperity of Company</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                            </div>
                            <div class="history-info">
                                <h4 class="title"><span>2017-2018. </span>Worldwide Recognition</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--================= OUR-HISTORY END =================-->
    <!--=================== S-OUR-TEAM ===================-->
    <section class="s-our-team about-team">
        <div class="our-team-bg" style="background-image: url(/Content/assets/img/bg-team-about.svg);"></div>
        <div class="container">
            <h2 class="title-line">Our Team</h2>
            <p class="slogan">They possess the secret knowledge and interesting experience in field of Engineering.</p>
            <div class="row team-cover">
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-1.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Anthony Watson</a></h4>
                    <div class="prof">........</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-2.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Marybeth Hoover</a></h4>
                    <div class="prof">........</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-3.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Stewart Collins</a></h4>
                    <div class="prof">........</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-4.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Anthony Watson</a></h4>
                    <div class="prof">........</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-5.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Marybeth Hoover</a></h4>
                    <div class="prof">.....</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 team-item">
                    <a href="about.html" class="team-img">
                        <img src="/Content/assets/img/team-6.jpg" alt="team">
                    </a>
                    <h4 class="title"><a href="about.html">Stewart Collins</a></h4>
                    <div class="prof">........</div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--================= S-OUR-TEAM END =================-->
    <!--================ S-UPCOMING-COURSE ================-->
    <section class="s-upcoming-course s-title-bg">
        <span class="title-bg-left">PACE GROUP</span>
        <div class="container">
            <h2 class="title-line">PACE GROUP</h2>
            <p class="slogan">
                The P.A. Educational Trust was established in 1999 with a mission to deliver quality education at
                par with global standards. The Trust through its various educational institutions is committed to mould the new generation with knowledge, ethics and social responsibility.
            </p>
            <div class="upcoming-course-cover">
                <div class="course-item-left">
                    <div class="upcoming-course-item">
                        <div class="date-cover">
                            <div class="day">12</div>
                            <div class="date-info">
                                <div class="month">november, 2018</div>
                                <div class="name">The Plaza Center</div>
                            </div>
                        </div>
                        <h3 class="title"><a href="events.html">P.A College Of Engineering</a></h3>
                        <div class="upcoming-course-adr">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Near Mangalore University, <br>Konaje,Mangalore  <span>|</span>Karnataka</p>
                        </div>
                        <a href="https://www.pace.edu.in/#" class="btn">More</a>
                    </div>
                </div>
                <div class="upcoming-course-img">
                    <img src="~/Content/assets/images/PACE Campus.jpg" alt="img">
                </div>
            </div>
        </div>
    </section>
    <!--============== S-UPCOMING-COURSE END ==============-->
    <!--==================== S-COUNTER ====================-->
    @*<section class="s-counter counter-animate counter-active s-bg">
        <div class="mask" style="background-image: url(/Content/assets/img/bg-effect-counter.svg);"></div>
        <div class="container">
            <div class="row counter-cover">
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="28">0</span></div>
                    <h5>speakers</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="3">0</span>k</div>
                    <h5>happy customers</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="650">0</span></div>
                    <h5>Places</h5>
                </div>
                <div class="col-6 col-sm-3 counter-item">
                    <div class="counter-number"><span data-number="350">0</span></div>
                    <h5>Podcasts</h5>
                </div>
            </div>
        </div>
    </section>*@
    <!--================== S-COUNTER END ==================-->
