<div class="header-menu header-menu-two">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <nav class="nav-menu">
                    <ul class="nav-list">
                        <li><a href="/Home/Index">Home</a></li>
                        <li ><a href="/Home/About">About us</a></li>
                        @*<li><a href="/Home/About">About us</a></li>*@
                        @*<li><a href="/Home/Track">Tracks</a></li>*@
                        <li class="active"><a href="/Home/Gallery">Gallery</a></li>
                        @*<li><a href="/Home/Index/#Speakers">Speakers</a></li>
                            <li><a href="#">Committees</a></li>*@
                        <!--<li class="dropdown">-->
                        @*<a href="#">Papers <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="#">Call for Paper</a></li>
                                <li><a href="/Home/Bestpapperawards">Best Paper Awards</a></li>
                                <li><a href="/Home/Submission">Submission</a></li>
                            </ul>*@
                        <!--</li>-->
                        @*<li><a href="/Home/Register">Register</a></li>*@
                        <li><a href="/Home/Contact">Contacts</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-2">
                @*<div class="header-two-search">
                        <div class="header-search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <form action="#">
                            <input type="search" name="search" placeholder="Search">
                            <button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
</div>




<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: linear-gradient(rgba(255, 0, 0, 0.520),rgba(194, 1, 0, 0.520)), url(/Content/assets/img/bg-page-title.jpg); ">
    <div class="container">
        <h1 class="title-line-left">Gallery</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->
<!--==================== S-GALLERY ====================-->
<section class="s-gallery page-gallery">
    <div class="container">
        <div class="tab-wrap">
            <ul class="tab-nav gallery-tabs">
                <li class="item" rel="tab1">PHOTOS</li>
                <li class="item" rel="tab2"></li>
                <li class="item" rel="tab3"></li>
            </ul>
            <div class="tabs-content">
                <div class="tab tab1">
                    <div class="row-gallery">
                        <div class="gallery-cover">
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (1).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (1).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (21).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (21).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (25).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (25).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (37).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (37).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (4).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (4).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (41).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (41).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (5).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (5).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (67).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (67).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (7).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (7).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (8).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (8).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (76).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (76).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (78).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (78).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="~/Content/assets/images/PACE Campus High Res (84).jpg" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="~/Content/assets/images/PACE Campus High Res (84).jpg" alt="img">
                                    <div class="gal-item">
                                        <h4 class="title">PACE</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================== S-GALLERY END ==================-->