@model PaceConclaveVM.Home.SubscriptionVM

<div class="allevents">
    <div class=" header-two-btn">
        <a href="/ICEST/Icest" class="btns">ICEST</a>
    </div>
    <div class=" header-two-btn">
        <a href="#" class="btns">ICHS</a>
    </div>
    <div class=" header-two-btn">
        <a href="#" class="btns">ICMS</a>
    </div>
</div>
<div class="header-menu header-menu-two">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <nav class="nav-menu">
                    <ul class="nav-list">
                        <li class="active"><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/About">About us</a></li>
                        @*<li><a href="/Home/About">About us</a></li>*@
                        @*<li><a href="/Home/Track">Tracks</a></li>*@
                        <li><a href="/Home/Gallery">Gallery</a></li>
                        @*<li><a href="/Home/Index/#Speakers">Speakers</a></li>
        <li><a href="#">Committees</a></li>*@
                        <!--<li class="dropdown">-->
                        @*<a href="#">Papers <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul>
            <li><a href="#">Call for Paper</a></li>
            <li><a href="/Home/Bestpapperawards">Best Paper Awards</a></li>
            <li><a href="/Home/Submission">Submission</a></li>
        </ul>*@
                        <!--</li>-->
                        @*<li><a href="/Home/Register">Register</a></li>*@
                        <li><a href="/Home/Contact">Contacts</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-2">
                @*<div class="header-two-search">
                        <div class="header-search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <form action="#">
                            <input type="search" name="search" placeholder="Search">
                            <button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<!--==================== MAIN-TWO ====================-->
<section class="main-two">
    <div class="main-slider-two">
        <div class="main-slide-two">
            <div class="main-slide-date">Janaury</div>
            <div class="main-slider-bg" style="background-image: url(/Content/assets/img/bg-slider-home2.svg);"></div>
            <img class="img-slide" src="~/Content/assets/img/slide-1.png" alt="img">
            <div class="container">
                <div class="main-slide-item">
                    <div class="date-slide">June, 2022 / Mangalore, INDIA</div>
                    <h2 @*="font-size:55px;"*@>PACE CONCLAVE</h2>
                    <div class="slide-tag">Here description about the pace conclave</div>
                    <div class="slide-btn-cover">
                        <a href="/ICEST/Register"" class="btn btn-yellow">register now</a>
                        <a href="/ICEST/Track" class="btn btn-border">more details</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="main-slide-two">
            <div class="main-slide-date">June</div>
            <div class="main-slider-bg" style="background-image: url(/Content/assets/img/bg-slider-home2.svg);"></div>
            <img class="img-slide" src="~/Content/assets/img/slide-2.png" alt="img">
            <div class="container">
                <div class="main-slide-item">
                    <div class="date-slide">June, 2022 / Mangalore, INDIA</div>
                    <h2><span>Conference on Software</span>Engineering</h2>
                    <div class="slide-tag">#Conference</div>
                    <div class="slide-btn-cover">
                        <a href="/ICEST/Register" class="btn btn-yellow">register now</a>
                        <a href="/ICEST/Track" class="btn btn-border">more details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slide-two">
            <div class="main-slide-date">June </div>
            <div class="main-slider-bg" style="background-image: url(/Content/assets/img/bg-slider-home2.svg);"></div>
            <img class="img-slide" src="~/Content/assets/img/slide-3.png" alt="img">
            <div class="container">
                <div class="main-slide-item">
                    <div class="date-slide">June, 2022 / Mangalore, INDIA</div>
                    <h2><span>Ultimate Skills For an</span>Start in IT</h2>
                    <div class="slide-tag">#Conference</div>
                    <div class="slide-btn-cover">
                        <a href="/ICEST/Register" class="btn btn-yellow">register now</a>
                        <a href="/ICEST/Track" class="btn btn-border">more details</a>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="main-arrow-cover">
        <div class="container">
            <div class="main-slide-arrow"></div>
        </div>
    </div>
</section>
<!--=================== MAIN-TWO END ===================-->
<!--==================== S-ABOUT ====================-->
<section class="s-about-home-two">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 about-info">
                <h2 class="title-line-left">More Than a Conference</h2>
                <div class="about-slogan-home-two">
                    ICET is an international peer reviewed event to bring together academia, engineers, students,
                    and researchers in the field of Engineering, science and technology, making it an ideal platform for sharing knowledge,
                    fostering industry-academic collaborations, and evaluating emerging technologies from around the world.
                </div>

                @*<ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>*@
                <a href="/Home/About" class="btn btn-yellow">read more</a>
            </div>
            <div class="col-12 col-md-6 about-img">
                <a data-fancybox href="#">
                    <img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/news-2.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</section>
<!--================== S-ABOUTK END ==================-->

<!--===================== S-VENUE =====================-->
<section class="s-venue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <h2 class="title-line-left">Venue</h2>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i>PA College Of Engineering, Mangalore,Karnataka INDIA</li>
                    <li><i class="fas fa-street-view"></i>PA Conference Center Hall , 1st floor</li>
                </ul>
            </div>
            <div class="col-12 col-sm-8"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/venue-img.jpg" alt="img"></div>
        </div>
    </div>
</section>
<!--=================== S-VENUE END ===================-->
<!--==================== S-PARTNERS ====================-->
@*<section class="s-partners partners-home-two">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-1.png" alt="img"></div>
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-2.png" alt="img"></div>
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-3.png" alt="img"></div>
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-4.png" alt="img"></div>
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-5.png" alt="img"></div>
                <div class="col-6 col-sm-4 col-md-2"><img class="rx-lazy" src="/Content/assets/img/placeholder-all.png" data-src="/Content/assets/img/home-2-partner-6.png" alt="img"></div>
            </div>
        </div>
    </section>*@
<!--================== S-PARTNERS END ==================-->
<!--================== S-LATEST-NEWS ==================-->
<section class="s-latest-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="title-line-left">Let's Keep in Touch</h2>
            </div>
            <div class="col-12 col-md-6">
                <form method="post" asp-action="Subscriptionsubmit" asp-controller="Home">
                    <input type="email" asp-for="FullName" placeholder="Your Email Address">
                    <button class="btn btn-yellow" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================== S-LATEST-NEWS END ==================-->


<script>
        $(window).on('load', function () {
         var msg = JSON.parse('@Html.Raw(Json.Serialize(TempData["RegisterError"]))');
            if (msg !== "" && msg != null)
            {
                 toastr.error(msg, 'Error');
            }
            var msgone = JSON.parse('@Html.Raw(Json.Serialize(TempData["RegisterSucess"]))');
            if (msgone !== "" && msgone != null)
            {
                toastr.success(msgone, 'Sucess !!');
            }
            var msgone = JSON.parse('@Html.Raw(Json.Serialize(TempData["Wish"]))');
            if (msgone !== "" && msgone != null)
            {
                toastr.success(msgone);
            }


        });

</script>
