@*ICEST heading start*@
<div class="allevents">
    <div class=" header-two-btn">
        <a href="#" class="btns">ICEST</a>
    </div>
</div>
@*ICEST heading end*@

<div class="header-menu header-menu-two">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="nav-menu flexnav">
                    <ul class="nav-list">
                        <li><a href="/ICEST/Icest">Home</a></li>
                        <li><a href="/ICEST/Patrons">Patrons</a></li>
                        <li><a href="/ICEST/Aboutus">About Us</a></li>
                        <li><a href="/ICEST/Track">Themes</a></li>
                        <li class="dropdown">
                            <a href="#">Committees<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="#">Advisor Committees</a></li>
                                <li><a href="#">Technical Committees</a></li>
                            </ul>
                        </li>
                        <li><a href="/ICEST/Speakers">Speakers</a></li>
                        <li class="dropdown">
                            <a href="#">Submission<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="/ICEST/Submission">Paper/Abstract Submission</a></li>
                            </ul>
                        </li>
                        <li><a href="/ICEST/Register">Register</a></li>
                        <li><a href="/ICEST/Schedule">Schedule</a></li>
                        <li><a href="/ICEST/Contact">Contact Us</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

