<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PACE CONCLAVE</title>
    <!-- ===================== META ===================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png">
    <!-- ===================== STYLE ===================== -->
    <link rel="stylesheet" href="~/Content/assets/css/slick.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/Content/assets/css/all.css">
    <link rel="stylesheet" href="~/Content/assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <script src="~/Content/assets/js/jquery-2.2.4.min.js"></script>

    @*slider*@
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slider/css/responsive.css" />

    <!-- ===================== toster ===================== -->
    <link href="~/Account/libs/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="~/Account/libs/toastr/build/toastr.min.js"></script>
    <script src="~/Account/js/toastr.init.js"></script>



</head>
<body> @*id="home" class="version-2" style="background-color: #fff;"*@
    @* <div id="preloader"> </div>*@

    <!--===================== HEADER =====================-->
    <header class="header-two">
        <a href="#" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="header-two-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4 col-lg-4 logo-two-cover">
                        <a href="/Home/Index">
                            <img class="logoimg" src="~/Content/assets/images/LOGO (1).png" alt="logo">
                        </a>
                    </div>
                    <div class="col-2 header-top-info">
                        <ul class="header-two-phone header-cont">
                            <li><a href="tel:918147370989"><i class="fas fa-phone"></i>+91 8147370989</a></li>
                        </ul>
                    </div>
                    <div class="col-3 header-top-info">
                        <ul class="header-two-adr header-cont">
                            <li><a href="contacts.html"><i class="fas fa-map-marker-alt"></i>Mangalore, INDIA</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </header>
    <!--=================== HEADER END ===================-->

    @RenderBody()

    <!--===================== FOOTER =====================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="index.html" class="logo-footer">
                        @* <img src="~/Content/assets/img/logo-footer.svg" alt="logo">*@
                        <div class="logo-text"><span>PACE</span>CONCLAVE</div>
                    </a>
                    <div class="footer-text">
                        PACE is envisaged as a centre of evolution for excellence in Technological,
                        Management and Research Education.<br>The institution aspires to spread universal knowledge through villages and cities enabling expansion of human resources.
                    </div>
                    <ul class="soc-link">
                        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h6>Contacts</h6>
                    <ul class="footer-contacts">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="https://g.page/PACEMangalore?share">PA College Of Engineering <br>Mangalore, INDIA</a>
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:9035960243">+91 9035960243</a>
                            <a href="tel:8147370989">+91 8147370989</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:pace@info.mail">pace@info.mail</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 insta-list-cover">
                    <h6>PACE GROUPS</h6>
                    <ul class="insta-list">
                        <li><a target="_blank" href="https://www.pace.edu.in/"><img class="rx-lazy" src="~/Content/assets/images/PACE Group.png" data-src="/Content/assets/images/PACE Group.png" alt="social"></a></li>
                        <li><a target="_blank" href="https://www.pace.edu.in/"><img class="rx-lazy" src="~/Content/assets/images/P.A. Educational Trust.png" data-src="/Content/assets/images/P.A. Educational Trust.png" alt="social"></a></li>
                        <li><a target="_blank" href="https://cbsabudhabi.com/"><img class="rx-lazy" src="~/Content/assets/images/CBS.png" data-src="/Content/assets/images/CBS.png" alt="social"></a></li>
                        <li><a target="_blank" href="https://gulfasianenglishschool.com/"><img class="rx-lazy" src="~/Content/assets/images/GAES.png" data-src="/Content/assets/images/GAES.png" alt="social"></a></li>
                        <li><a target="_blank" href="https://iiss.ae/"><img class="rx-lazy" src="~/Content/assets/images/IIS.png" data-src="/Content/assets/images/IIS.png" alt="social"></a></li>
                        <li><a target="_blank" href="https://pacesharjah.com/"><img class="rx-lazy" src="~/Content/assets/images/PACEs.png" data-src="/Content/assets/images/PACEs.png" alt="social"></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4"><div class="copyright">© 2022. <a target="_blank" href="#">PACE CONCLAVE</a>. All Rights Reserved.<br>Designed and Developed By PACE Developers.</div></div>
                    @*<div class="col-8">
                            <ul class="footer-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="speakers.html">Speakers</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </footer>
    <!--=================== FOOTER END ===================-->
    <!--===================== TO TOP =====================-->
    <a class="to-top" href="#home">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </a>
    <!--=================== TO TOP END ===================-->
    <!--===================== SCRIPT	=====================-->
    <!-- JQUERY JAVASCRIPT -->
    <script src="~/Content/assets/js/masonry.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/rx-lazy.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
    <script src="~/Content/assets/js/contact-form-script.js"></script>
    <!-- toastr init -->
    <script src="~/Account/js/jquery.min.js"></script>
    <script src="~/Account/js/jquery-ui.js"></script>


    @*slider*@
    <script type="text/javascript" src="~/Content/slider/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/mixer.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/wow.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/jquery.shuffle.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/mixer.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/classie.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/slider/js/theme.js"></script>

</body>


</html>
